@charset "UTF-8";
@import "settings";
@import "color";
@import "mixin";

footer {
  background-color: $color-main;
  height: auto;
  margin-top: auto;
}

#main-footer {
  padding-top: 20px;
  padding-bottom: 8px;
  .menu {
    ul {
      li {
        a {
          display: inline-block;
          float: left;
          width: 25%;
          color: $color-white;
          text-decoration: none;
          text-align: center;
          margin: 0 auto;
          font-size: 1.2rem;
          border-right: 1px solid $color-white;
          position: relative;
          i {
            display: block;
            font-size: 2.4rem;
          }
          /*
          span.num {
            color: $color-link;
            &:before {
              content: "\FF08";
            }
            &:after {
              content: "\FF09";
            }
          }
          */
          span.num {
            position: absolute;
            top: -10px;
            left: 55%;
            background-color: $color-base-red;
            color: $color-white;
            width: 20px;
            height: 20px;
            line-height: 18px;
            @include radius(50%);
            font-weight: bold;
            &:before {

            }
          }
        }
        &:last-child a {
          border: none;
        }
      }
      li.carrent {
        a {
          color: $color-main-accent;
        }
      }
    }
  }
}
#bottom-footer {
  background-color: $color-main-deep;
  p {
    text-align: center;
    margin: 0 auto;
    a {
     font-size: 1.2rem;
     color: $color-white;
     text-decoration: none;
    }
  }
}
@media #{$md-up} {
  footer {
  }
  #main-footer {
    text-align: center;
    margin: 0 auto;
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    width: $container-max-width;
    .menu {
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
      ul {
        li {
          a {
            display: inline-block;
            float: left;
            margin-right: 18px;
            color: $color-white;
            text-decoration: none;
            color: $color-gray-light;
            border: none;
            width: inherit;
            font-size: 1.6rem;
            font-weight: bold;
            span.num {
              position: static;
              display: inline-block;
              margin-left: 4px;
            }

            i {
              display: none;
            }
            &:before {
              font-family: "Font Awesome 5 Free";
              content: "\f105";
              font-weight: bold;
              padding-right: 4px;
            }
            &:hover {
              color: $color-white;
            }
          }
        }
        li.carrent {
          a {
            &:hover {
              color: $color-main-accent;
            }
          }
        }
      }
    }
  }
  #bottom-footer {
    padding: $gutter-width / 4 0;
    p {
      a {
       font-size: 1.4rem;
       &:hover {
         color: $color-main-accent;
       }
      }
    }
  }
}
