
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


html {
  font-size: 18px;
}

.loading {
  position: absolute;
  margin-top: -100px; /* 中央配置する要素の横幅の半分だけ上にずらす */
  margin-left: -100px; /* 中央配置する要素の縦幅の半分だけ左にずらす */
  top: 50%;  /* 要素の上端を中央に */
  left: 50%;  /* 要素の左端を中央に */
  width: 200px;
  height: 200px;
}