@charset "UTF-8";
/*
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing=0' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
/*-----------------------
カラー
-------------------------*/
html {
  font-size: 100%;
  font-size: 62.5%;
  /* 16px x 0.625 = 10px(=1rem) */
  font-size: 10px 1rem; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

h3, h4, h5, h6 {
  padding-top: 6px;
  margin-bottom: 12px; }

h1 {
  font-size: 4rem;
  line-height: 5.6rem; }

h2 {
  font-size: 1.8rem;
  line-height: 2.4rem; }

h3 {
  font-size: 2.8rem;
  line-height: 3.6rem; }

h4 {
  font-size: 2rem;
  line-height: 3rem; }

h5 {
  font-size: 2rem;
  line-height: 3.2rem; }

h6 {
  font-size: 1.8rem;
  line-height: 3rem; }

p {
  font-size: 1.6rem;
  line-height: 2.6rem; }

a {
  text-decoration: underline;
  color: #3366ff; }
  a:hover {
    text-decoration: none;
    color: #3292FF; }

ul, ol {
  font-size: 1.6rem;
  line-height: 2.6rem; }

dl {
  font-size: 1.6rem;
  line-height: 2.6rem; }

table {
  margin: 10px 0;
  width: 100%;
  border: 1px solid #aaa;
  font-size: 1.6rem; }
  table thead th, table thead td {
    font-weight: bold; }

th, td {
  padding: 7px;
  border: 1px solid #aaa;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem; }

th {
  vertical-align: middle;
  font-weight: normal;
  padding: 9px 7px; }

img {
  display: block; }

article, aside, details, footer, header, main, menu, nav, section, summary {
  display: block; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
[class*="col-"] {
  display: block;
  position: relative;
  float: left;
  width: 100%; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media only screen and (min-width: 460px) {
  .col-xs-1 {
    width: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .col-xs-12 {
    width: 100%; } }
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media only screen and (min-width: 750px), print {
  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; } }
@media only screen and (min-width: 960px), print {
  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
.gutter {
  padding-left: 12px !important;
  padding-right: 12px !important; }

.column {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

/*-----------------------
 clearfix
-------------------------*/
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.row:after {
  clear: both; }

.clearfix
.row {
  *zoom: 1; }

.clear_both {
  clear: both; }

.row {
  margin-left: -12px !important;
  margin-right: -12px !important; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
html {
  height: auto !important;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  color: #545454;
  font-family: 　-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  font-size: 1.6rem 16px;
  line-height: 2.8rem 28px;
  -webkit-text-size-adjust: 100%;
  cursor: auto;
  position: relative;
  left: 0;
  height: auto !important; }

body {
  font-feature-settings: "palt"; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, body {
    font-feature-settings: "pkna"; } }
ol, ul {
  list-style: none; }

p.br, a.br, li.br, h3.br, h2.br, .br {
  display: inline-block; }

.border_none {
  border: none !important; }

#wrapper {
  width: 100%;
  height: auto;
  position: relative; }

.display_pc {
  display: block !important; }

.display_sp {
  display: none !important; }

@media only screen and (max-width: 750px) {
  .display_pc {
    display: none !important; }

  .display_sp {
    display: block !important; } }
.container {
  position: relative;
  width: 100%;
  text-align: left;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px; }

.full-width {
  margin: 0 -5000px;
  padding: 0 5000px; }

.full-img {
  width: 100%;
  max-width: auto; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
header {
  padding-bottom: 10px;
  top: 0;
  width: 100%;
  position: relative;
  background: white; }

.welcom_cnt .container {
  text-align: right;
  margin-left: auto; }
  .welcom_cnt .container p:first-child {
    padding-right: 6px; }
  .welcom_cnt .container p, .welcom_cnt .container a {
    font-size: 1.4rem;
    display: inline-block; }
    .welcom_cnt .container p a, .welcom_cnt .container a a {
      text-decoration: none; }
  .welcom_cnt .container a.notice_none {
    color: #545454; }
    .welcom_cnt .container a.notice_none:hover {
      color: #545454; }
  .welcom_cnt .container a.notice {
    display: inline-block; }

#nav-drawer {
  position: fixed;
  top: 36px;
  left: 12px;
  z-index: 100; }

#logout {
  position: fixed;
  top: 36px;
  right: 12px;
  z-index: 50; }
  #logout .log_btn, #logout .log_btn i {
    color: #444444;
    cursor: pointer;
    font-size: 2.6rem; }
    #logout .log_btn:hover, #logout .log_btn i:hover {
      color: #444444;
      opacity: .7; }
  #logout .log_btn {
    font-size: 1rem; }

nav {
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 42px;
  padding-right: 38px;
  background-color: white;
  border-bottom: 1px solid #ccc; }
  nav ul {
    width: 150px;
    text-align: center;
    margin: 0 auto; }
    nav ul li {
      display: inline-block;
      width: 31%;
      font-size: 14px;
      padding-top: 30px;
      cursor: pointer; }
      nav ul li:first-child {
        background: url(images/clender_month_normal.gif); }
      nav ul li:nth-child(2) {
        background: url(images/clender_week_normal.gif); }
      nav ul li:last-child {
        background: url(images/clender_day_normal.gif); }
      nav ul li:first-child, nav ul li:nth-child(2), nav ul li:last-child {
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: 30px; }
      nav ul li a {
        text-decoration: none;
        color: #545454; }
        nav ul li a:hover {
          color: #545454;
          opacity: .7; }
      nav ul li:hover {
        opacity: .7; }
    nav ul li.carrent {
      color: #7accac; }
      nav ul li.carrent:first-child {
        background: url(images/clender_month_carrent.gif); }
      nav ul li.carrent:nth-child(2) {
        background: url(images/clender_week_carrent.gif); }
      nav ul li.carrent:last-child {
        background: url(images/clender_day_carrent.gif); }
      nav ul li.carrent:first-child, nav ul li.carrent:nth-child(2), nav ul li.carrent:last-child {
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: 30px; }
      nav ul li.carrent a {
        color: #7accac;
        cursor: default; }
      nav ul li.carrent:hover {
        opacity: 1;
        cursor: default; }

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08); }

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none; }

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle; }

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #444444;
  display: block;
  content: '';
  cursor: pointer; }

#nav-open span:before {
  bottom: -8px; }

#nav-open span:after {
  bottom: -16px; }

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out; }

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 24px;
  width: 75%;
  max-width: 350px;
  /*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%); }

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5; }

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15); }

.header-logo-menu {
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row; }

/*ロゴやサイトタイトルをセンタリング*/
.logo-erea {
  position: relative;
  text-align: center;
  margin: 0 auto; }
  .logo-erea h1 {
    display: inline-block;
    padding-top: 6px; }
    .logo-erea h1 img {
      width: 120px;
      height: auto;
      background-color: white; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
/*-----------------------
カラー
-------------------------*/
/*reset------------------------------*/
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*button-----------------------------
http://design.aekana.com/blog/css-mouseover-effect----*/
.btn_wrap p {
  margin-bottom: 10px; }

.btn_a, .btn_b, .btn_c {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
.common_cnt {
  padding-top: 24px; }
  .common_cnt .pager_wrap {
    padding-top: 12px; }
    .common_cnt .pager_wrap a {
      text-decoration: underline;
      font-size: 1.4rem; }
      .common_cnt .pager_wrap a:first-child {
        margin-right: 6px; }
      .common_cnt .pager_wrap a:hover {
        text-decoration: none; }
    .common_cnt .pager_wrap p {
      font-size: 1.6rem; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
.calendar_wrap {
  margin-top: 12px; }

table.calendar {
  border: none; }
  table.calendar th, table.calendar td {
    border: none; }
  table.calendar td.today {
    background-color: #e9f6f1; }
  table.calendar caption {
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: bold; }
    table.calendar caption a {
      color: #545454;
      text-decoration: none; }
      table.calendar caption a:nth-child(2) {
        padding: 0 12px; }
  table.calendar tr {
    border-top: 1px solid #ccc; }
    table.calendar tr:last-child {
      border-bottom: 1px solid #ccc; }
    table.calendar tr th, table.calendar tr td {
      text-align: center;
      margin: 0 auto;
      font-weight: bold; }
      table.calendar tr th a, table.calendar tr td a {
        text-decoration: none;
        color: #545454; }
    table.calendar tr td {
      padding: 0;
      padding-bottom: 8px; }
      table.calendar tr td span.day {
        font-size: 1.4rem; }
    table.calendar tr td.saturday, table.calendar tr td.saturday a {
      color: #2595C7; }
    table.calendar tr td.sunday, table.calendar tr td.sunday a,
    table.calendar tr td.holiday, table.calendar tr td.holiday a {
      color: #F25F5C; }
  table.calendar tr.calendar_header th {
    font-size: 1.6rem;
    font-weight: bold;
    color: #545454;
    width: calc(100% / 7); }
  table.calendar tr.calendar_header th.saturday {
    color: #2595C7; }
  table.calendar tr.calendar_header th.sunday {
    color: #F25F5C; }
  table.calendar .title, table.calendar .msg_cnt {
    display: none; }
  table.calendar .reserve_info, table.calendar .reserve_success,
  table.calendar .reserve_warning, table.calendar .reserve_danger,
  table.calendar .reserve_none {
    padding: 0.1em; }
    table.calendar .reserve_info p, table.calendar .reserve_success p,
    table.calendar .reserve_warning p, table.calendar .reserve_danger p,
    table.calendar .reserve_none p {
      font-size: 0.7rem;
      line-height: 1.2rem;
      font-weight: normal;
      padding: 0.2em 0.1em;
      background-color: #aaa;
      color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  table.calendar .reserve_none p {
    background-color: inherit;
    color: #666; }
  table.calendar .reserve_info p {
    background-color: #2595C7; }
  table.calendar .reserve_success p {
    background-color: #70C1B3; }
  table.calendar .reserve_warning p {
    background-color: #FFE066;
    color: #545454; }
  table.calendar .reserve_danger p {
    background-color: #F25F5C; }
  table.calendar .day {
    font-size: 1.6rem;
    padding: 0.5em; }
  table.calendar .spacing_sm {
    letter-spacing: -0.2em; }
  table.calendar .msg_num {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: underline;
    color: #3366ff; }
    table.calendar .msg_num:hover {
      text-decoration: none; }

.upright {
  writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-text-orientation: upright;
  -o-text-orientation: upright;
  -webkit-text-orientation: upright; }

.ft_btm_cnt {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 90%; }
  .ft_btm_cnt .container {
    box-shadow: 0 0 8px gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .ft_btm_cnt .container p {
      font-size: 1.4rem;
      padding: 6px; }
      .ft_btm_cnt .container p span.num {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 0 2px; }

@media only screen and (min-width: 750px), print {
  table.calendar .title, table.calendar .msg_cnt {
    display: block; } }
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
/*
https://www.nxworld.net/tips/15-useful-css-snippets-in-form-style.html
*/
/*reset------------------------------*/
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea, select {
  outline: none;
  border: 3px solid #ccc;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 10px;
  width: 100%;
  font-family: 　-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  font-size: 1.6rem; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus, select:focus {
  box-shadow: 0 0 7px #333;
  border-color: #555;
  background: #888; }

@media only screen and (max-width: 750px) {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea, select {
    padding: 3px;
    font-size: 1.4rem; } }
/*placeholder-----------------*/
/* Chrome */
::-webkit-input-placeholder {
  color: #ccc; }

/* Firefox */
::-moz-placeholder {
  color: #ccc; }

/* IE */
:-ms-input-placeholder {
  color: #ccc; }

/*textareaのリサイズ機能を制限する-----------------*/
/* 横のみリサイズ可
textarea {
  resize: horizontal;
}
*/
/* 縦のみリサイズ可
textarea {
  resize: vertical;
}
*/
/* 縦横ともにリサイズ不可 */
textarea {
  resize: none; }

/*checkbox-----------------*/
input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + .checkbox:before {
  opacity: 1; }

/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* Body
------------------------------------------------------*/
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium"); }
/* 明朝体
$body-font-family: "a-otf-ryumin-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$midashi-font-family: "a-otf-futo-min-a101-pr6n", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 游明朝体, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
------------------------------------------------------*/
/* Breackpoint
------------------------------------------------------*/
/* original
------------------------------------------------------*/
/* base color
------------------------------------------------------*/
/* Gray color
------------------------------------------------------*/
/* BOXシャドウ　
--------------------------------------------------------------------------------------------------------*/
/* 拡散型シャドウ　http://photoshopvip.net/91770
--------------------------------------------------------------------------------------------------------*/
/* hover under-line https://www.nxworld.net/tips/css-hover-underline-animation-examples-and-sass-mixin.html

type（タイプ） $dir（方向） $weight（ラインウェイト） $color（ラインカラー）
--------------------------------------------------------------------------------------------------------*/
@media print {
  body {
    height: auto;
    -webkit-print-color-adjust: exact; }

  .head_wrap, .ft_top, .ft_main,
  #page_top {
    display: none !important; }

  .other #main {
    padding-top: 0 !important; } }

/*# sourceMappingURL=style.css.map */
